<div id="grc-container">
  <aside id="grc-column-1" class="grc-column">
    <div class="grc-column-header">Categories</div>
    <div class="grc-button-list">
      {{#each column1Categories}}
      <button
        class="grc-category-button {{#if this.isSelected}}grc-category-selected{{/if}}"
        data-column1-button="{{this.id}}"
        type="button">
        {{this.name}}
      </button>
      {{/each}}
    </div>
  </aside>

  <aside id="grc-column-2" class="grc-column">
    <div class="grc-column-header">{{column2Title}}</div>
    <div class="grc-accordion">
      {{#if column2Items}}
        {{#each column2Items}}
        <div class="grc-accordion-section">
          <button
            class="grc-accordion-header {{#if this.isExpanded}}grc-accordion-expanded{{/if}}"
            data-column2-header="{{this.id}}"
            type="button">
            <span class="grc-accordion-title">{{this.name}}</span>
            <i class="grc-accordion-icon fas {{#if this.isExpanded}}fa-chevron-down{{else}}fa-chevron-right{{/if}}"></i>
          </button>
          {{#if this.isExpanded}}
          <div class="grc-accordion-content">
            {{#if this.actions}}
              {{#each this.actions}}
              <button
                class="grc-action-button {{#if this.isSelected}}grc-action-selected{{/if}}"
                data-action-id="{{this.id}}"
                type="button">
                {{this.name}}
              </button>
              {{/each}}
            {{else}}
              <div class="grc-no-actions">No actions available</div>
            {{/if}}
          </div>
          {{/if}}
        </div>
        {{/each}}
      {{else}}
        {{#if column2DirectActions}}
          {{#each column2DirectActions}}
          <button
            class="grc-action-button {{#if this.isSelected}}grc-action-selected{{/if}}"
            data-direct-action-id="{{this.id}}"
            type="button">
            {{this.name}}
          </button>
          {{/each}}
        {{else}}
          <div class="grc-column-empty">Select a category</div>
        {{/if}}
      {{/if}}
    </div>
  </aside>

  <main id="grc-column-3" class="grc-column">
    <div class="grc-column-header">{{column3Title}}</div>
    <section id="grc-content-panel">
      {{{contentHTML}}}
    </section>
  </main>
</div>
